<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Is Quinn Single?</title>
		<!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">-->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	</head>
	<body>
		<div class="main">
			<div class="pane" id="count">
				<p class="title">how long has quinn been single?</p>
				<div class="tableContainer">
					<table class="countUp">
						<tbody>
							<tr class="info-title">
								<td colspan="4">It has been</td>
							</tr>
							<tr class="info">
								<td id="days"></td>
								<td id="hours"></td>
								<td id="minutes"></td>
								<td id="seconds"></td>
							</tr>
							<tr class="caption">
								<td>Days</td>
								<td>Hours</td>
								<td>Minutes</td>
								<td>Seconds</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pane" id="container" style="width: 75%;">
				<canvas id="pie" width="300" height="100"></canvas>
			</div>
			<div class="pane" id="application"></div>
		</div>
		<div class="nav">
			<button class="navbutton" id="top">Top</button>
			<button class="navbutton" id="charts">Charts</button>
			<button class="navbutton" id="apply">Apply</button>
		</div>

	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    <!--Testing for local-->
    <script src="../static/scripts/allCharts.js"></script>
    <script src="../static/scripts/countdown.js"></script>
<!--     <script src="../static/scripts/cursor.js"></script>
 -->    <script src="../static/scripts/jquery.js"></script>

    <!--For Flask-->
    <script src="{{url_for('static', filename='scripts/countdown.js')}}"></script>
<!--     <script src="{{url_for('static', filename='scripts/cursor.js')}}"></script>
 -->    <script src="{{url_for('static', filename='scripts/allCharts.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
    <script>
	
    </script>

</html>
