@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
:root {
	font-family: 'Raleway';
}

p {
	font-family: 'Raleway';
}
p.title {
	font-size: 200%;
	font-family: 'Playfair Display',serif;
	text-align: center;
}
div.main {
	position: absolute;
	margin: auto;
	width: 80%;
}
/*div.main {
  
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}*/

/* Table stuff */
div.tableContainer {
	margin: auto;
	width: 50%;
	background: rgb(200,200,200);
	border-radius: 5px;
}

.info {

}

.caption {
	font-size: 50%;
}
